
@{
    ViewBag.Title = "Buy";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Buy</h2>

<div>
    <h3>Ваш заказ</h3>


    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>Название</th>
                <th>Жанр</th>
                <th>Год выпуска</th>
                <th>Продолжительность</th>
                <th>Страна</th>
                <th>Возрастная категория</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@ViewBag.Film.Name</td>
                <td>@ViewBag.Film.GetGenreString()</td>
                <td>@ViewBag.Film.Year</td>
                <td>@ViewBag.Film.LenghtInMinutes мин.</td>
                <td>@ViewBag.Film.Country</td>
                <td>@ViewBag.Film.Age+</td>
            </tr>
        </tbody>
    </table>

    <form class="form-horizontal" method="post" action="">
        <fieldset>
            <legend>Форма оформления покупки</legend>
            <table class="table table-striped table-hover ">
                <thead>
                    <tr>
                        <th>Зал</th>
                        <th>Номер места</th>
                        <th>Время</th>
                        <th>Стоимость</th>
                        <th>Страна</th>
                        <th>Возрастная категория</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@ViewBag.Session.Hall</td>
                        <td>@ViewBag.Session.SeatNumber</td>
                        <td>@ViewBag.Session.Time.ToString("dd MMMMMMMMMMMM HH:mm")</td>
                        <td>@ViewBag.Session.Price</td>
                        <td>@ViewBag.Film.Country</td>
                        <td>@ViewBag.Film.Age+</td>
                    </tr>
                </tbody>
            </table>

            <input type="hidden" value="@ViewBag.Session.Id" name="SessionId" />

            <div class="form-group">
                <label for="inputPerson" class="col-lg-2 control-label">Имя</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputPerson" name="Person" placeholder="Введите Ваше имя">
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="reset" class="btn btn-default" href="/Admin/Index">Отмена</button>
                    <button type="submit" class="btn btn-primary">Продать</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>